# macOS files
*.DS_Store

# Emacs packages
.emacs.d/auto-save-list
.emacs.d/elpa
.emacs.d/projectile*
.emacs.d/ido*
.emacs.d/.mc*
.emacs.d/smex*
.emacs.d/recentf
.emacs.d/snippets

# Emacs sources
.emacs.d/lisp

# Emacs configuration
.emacs.d/custom.el